@import "tailwindcss";

body,html{
    height: 100vh;
    width: 100vw;
    margin:0;
    padding: 0;
}

#root{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}


.hero {
  position: relative;
  height: 100%;           /* your div size */
  width: 50%;
  color: white;

  background-size: cover;        /* stays same ratio, crops */
  background-position: center;   /* center crop */
  background-repeat: no-repeat;

  filter: brightness(0.8);
}

.maslow-bg{
  background-image: url("./src/assets/authors/abraham-maslow.jpg");
}

.herzberg-bg{
  background-image: url("./src/assets/authors/fred-herzberg.jpg");
}


.mclleland-bg{
  background-image: url("./src/assets/authors/david-mccleland.jpg");
}


.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(1, 71, 54, 0.5); 
}

.hero > * {
  position: relative;
  z-index: 1;
}


.selectedTab{
  background-color: white !important;
  color:black !important;
}